<h1>Sign In</h1>

<form action="/users/createSession" method="POST">
    <input type="email" name="email" placeholder="abc@gmail.com" required >
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="SignIn">
</form>

<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>